    <div class="app-body-fix text-center">

      <div class="app-content app-content-pos scrollable">
          <div class="scrollable-header">
            <h3 class="center color-grey">Buscar Albums</h3>
            <form ng-submit="buscar()" class="form-vertical" novalidate>
              <div class="row-center">
                <div class="col-xs-12">
                  <input ng-model="buscar.valor" type="search" value="" placeholder="ej: kipur, elul, breshit" class="form-control ng-pristine ng-untouched brand-center">
                </div>
              </div>
              <br>
              <div class="row-center">
                <div class="col-xs-12">
                  <button class="btn btn-primary btn-block">Buscar</button>
                </div>
              </div>
            </form>
          </div>
          <br>
          <br>
          <br>
          <br>
          <div ng-if="searching==false" >
            <div ng-if="albunes.length>0">
                <div ng-style="{'height': custom_height}" class="scrollable-content">

                    <div class="" ng-repeat="(i, album) in albunes">

                      <div class="container-fluid">
                        <div class="row fix-row">
                          <div class="col-xs-3 col-md-3 list-item-img">
                            <img class="img-responsive" ng-src="{{album.img}}" alt="">
                          </div>
                          <div class="col-xs-5 col-md-5 list-item-content color-grey izquierda">
                            <h6>{{album.title}}</h6>
                          </div>
                          <div class="col-xs-2 col-md-2 list-item-button">
                            <a ng-click="mostrar(album.id, album.title)" href="#album_detalle"><img class="img-responsive" src="img/page_next.png" alt=""></a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div ng-if="albunes.length==0">
                <br>
                <h2>Sin resultados</h2>
              </div>

            </div>
            <div ng-if="searching==true" class="center">
              <br>
              <span class="color-grey center">Buscando....</span>
              <br>
              <img src="img/loading.gif" alt="">

            </div>
        </div>
      </div>
