    <div class="text-center">

      <div class="app-content app-content-pos scrollable">
            <div class="scrollable-header">
              <h5 class="center color-grey">Album</h5>
              <h3 class="center color-grey">{{title}}</h3>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="" ng-if="searching==false" >
              <div ng-style="{'height': custom_height}" class="scrollable-content" ng-if="canciones.length>0">
                <div ng-repeat="cancion in canciones">
                    <div class="container-fluid">
                      <div class="row fix-row">
                        <div class="col-xs-3 col-md-3 list-item-img">
                          <img class="img-responsive" ng-src="{{cancion.image}}" alt="">
                        </div>
                        <div class="col-xs-5 col-md-5 list-item-content color-grey izquierda">
                          <h6>{{cancion.nombre_cancion}}</h6>
                          <span class="color-black">{{cancion.album_name}}</span>
                        </div>
                        <div class="col-xs-2 col-md-2 list-item-button">
                          <a ng-click="tocar(cancion['id'])" href="#play"><img class="img-responsive" src="img/play.png" alt=""></a>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="">
                  <div class="col-xs-12 col-md-12">
                    <a ng-click="previous_page()" ng-if="pagina>0" href=""><img class="" src="img/page_previous.png" alt=""></a>
                    &nbsp;&nbsp;&nbsp;
                    <a ng-click="next_page()" href=""><img class="" src="img/page_next.png" alt=""></a>
                  </div>
                </div>

              </div>

              <div ng-if="canciones.length==0 && pagina==0">
                <br>
                <h2>Sin resultados</h2>
              </div>

              <div ng-if="canciones.length==0 && pagina>0">
                <br>
                <h2>Sin resultados</h2>
                <div class="">
                  <div class="col-xs-12 col-md-12">
                    <a ng-click="previous_page()" ng-if="pagina>0" href=""><img class="" src="img/page_previous.png" alt=""></a>
                  </div>
                </div>
              </div>  

          </div>

          <div ng-if="searching==true" class="center">
            <br>
            <span class="color-grey center">Buscando....</span>
            <br>
            <img src="img/loading.gif" alt="">

          </div>
      </div>
  </div>