<div class="app-body-fix text-center">
  <h3 class="center color-grey">Mis Audios</h3>

  <div class="app-content app-content-pos-audios">
    <div class="scrollable">
      <div ng-style="{'height': custom_height}" class="scrollable-content" ng-if="descargados.length>0">
        <div ng-repeat="descarga in descargados">
          <div class="container-fluid">
            <div class="row fix-row">
              <div class="col-xs-3 col-md-3 list-item-img">
                <img class="img-responsive" ng-src="{{descarga.image}}" alt="">
              </div>
              <div class="col-xs-5 col-md-5 list-item-content color-grey izquierda">
                <h6>{{descarga.nombre_cancion}}</h6>
                <span class="color-black">{{descarga.album_name}}</span>
              </div>
              <div class="col-xs-2 col-md-2 list-item-button-mis-audios">
                <a ng-click="deleteMedia(descarga.id)" href="#audios"><img class="img-responsive" src="img/x.png" alt=""></a>
                <a ng-click="tocar(descarga)" href="#play"><img class="img-responsive" src="img/play.png" alt=""></a>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

