    <div class="app-body-fix text-center">
        <h3 class="center color-grey">Donaciones</h3>

        <div class="app-content app-content-pos">
          <div  ng-if="load==true">
            <div ng-if="donaciones.length>0">
                <div class="scrollable">
                  <div class="scrollable-content">
                      <div class="fix-row-container" ng-repeat="donacion in donaciones">
                            <div class="container-fluid">
                              <div class="row fix-row">
                                  <div class="col-xs-12 col-md-12 novedades-list-item-button">
                                    <div ng-bind-html="donacion['intro'] | unsafe"></div>
                                  </div>
                              </div>
                            </div>
                          <br>
                      </div>                
                  </div>
                </div>
            </div>
          </div>
          <div ng-if="novedades.length==0">
            <h2>Sin novedades</h2>
          </div>
          <div  ng-if="load==false" class="center">
            <img src="img/loading.gif" alt="">
          </div>
        </div>
    </div>