    <div class="app-body-fix text-center">

      <div class="app-content app-content-pos">
        <div class="scrollable">
          <div class="scrollable-content">

            <div>
              <br>
              <br>
              <div class="container-fluid row-center">
                <div class="col-xs-12 col-md-12">
                  <img class="logo-principal" src="img/logo_grande.png" alt="">
                </div>
              </div>
              <br>
              <div class="container-fluid row-center">
                <div class="col-xs-12 col-md-12 color-white">
                  <h5>BIENVENIDOS A <b>ShemtobApp</b></h5>
                  <h5>DONDE LA TORAH SE HACE ESCUCHAR POR INTERNET</h5>
                </div>
              </div>
              <br>
              <div class="container-fluid row-center">
                <div class="col-xs-12 col-md-12">
                  <a style="font-size:18px" ng-click="pagina()">Para más información...</a>
                </div>
              </div>
              <br>
              <div class="container-fluid row-center">
                <div class="col-xs-12 col-md-12">
                  <a class="btn btn-primary btn-block" href="#busqueda">Comenzar</a>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>