<div class="app-body-fix text-center">

  <div class="app-content app-content-pos-play">
    <div class="scrollable">
      <div class="scrollable-content">


        <br>

        <div class="row fix-row-play text-center">
          <div class="col-xs-12 col-md-12 ">
            <img class="img-polaroid fix-img-album-reproductor" ng-src="{{image}}" alt="">
          </div>
        </div>
        <br>
        <div class="row fix-row-play text-center color-white">
          <div class="col-xs-12 col-md-12 ">
            <b><h5>{{nombre_cancion}}</h5></b>
          </div>
        </div>

        <div class="row fix-row-play text-center color-white">
          <div class="col-xs-12 col-md-12 ">
            <b><span>{{album_name}}</span></b>
          </div>
        </div>
        <br>
        <div class="row fix-row-play">
          <div class="col-xs-2 col-md-2"></div>
          <div class="col-xs-8 col-md-8 fix-ui-slider" ui-slider="reproductor.options_audio" 
          min="0" 
          max="100" 
          ng-model="reproductor.time_slider"></div>
          <div class="col-xs-2 col-md-2"></div>
        </div>
        <br>
        <div class="row fix-row-play">
          <div class="col-xs-2 col-md-2"></div>
          <div class="col-xs-8 col-md-8 color-white">
            <div ng-if="nombre_cancion!=''">
              <span>{{currentTime}}</span><b>/</b><span>{{totalTime}}</span>
            </div>
            <div ng-if="nombre_cancion!=''">
              <span ng-if="audioPlayer.loadPercent<100">Cargando</span>
              <span ng-if="audioPlayer.loadPercent==100">Carga Completa</span>
            </div>
            <div ng-if="descargando==true">
              <span ng-if="downloadProgress!=100.0" >Descargando Archivo...({{downloadProgress}}%)</span>
              <span ng-if="downloadProgress==100.0">Archivo Descargado Correctamente</span>
              <br>
              <a ng-if="downloadProgress!=100.0" ng-click="CancelDownload()" href=""><img class="x-button" src="img/x.png" alt=""></a>
            </div>

            <div ng-if="nombre_cancion==''">
              <span>Archivo no encontrado</span>
            </div>
          </div>
          <div class="col-xs-2 col-md-2"></div>
        </div>
        <br>
        <div class="row fix-row-play text-center">
          <div class="col-xs-2 col-md-2">

          </div>
          <div class="col-xs-8 col-md-8 ">
            <a ng-click="PlayPauseButton()" ng-if="!play" href=""><img class="fix-play-button" src="img/play2.png" alt=""></a>
            <a ng-click="PlayPauseButton()" ng-if="play" href=""><img class="fix-play-button" src="img/pause.png" alt=""></a>
          </div>
          <div class="col-xs-2 col-md-2">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-app navbar-absolute-bottom fix-navbar-absolute-bottom">
    <div class="col-xs-3 col-md-3">
      <a ng-click="DownloadButton()" href=""><img src="img/download.png" alt=""></a>
    </div>
    <div class="col-xs-6 col-md-6">
    </div>
    <div class="col-xs-3 col-md-3">
      <a ng-click="BackButton()" href=""><img src="img/back.png" alt=""></a>
    </div>

  </div>


</div>