* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    margin:0;
    padding:0;
    height: 100%;
}
body.left-nav .topcoat-navigation-bar, body.left-nav .main-content {
    left:200px;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

/* Portrait layout (default) */
.app {
    background: url(../img/background.png) no-repeat center center fixed !important; 
    -webkit-background-size: cover  !important;
    -moz-background-size: cover  !important;
    -o-background-size: cover  !important;
    background-size: cover  !important;

}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}

.event {

}

.event.listening {

}

.event.received {

}

@keyframes fade {

}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {

}


.app-header {
    /*background-image: url(../img/header.png) !important;*/
    background-color: #516766 !important;
    background-size: 100% 100%;
    background-position:100% 100%;    
    box-shadow: none !important;
    border-bottom-width: 0px !important;
}

.menu-button{
    color: #62c6c7 !important;
}

.menu-logo{
    padding: 0px !important;
    padding-left: 3em !important;
    overflow: inherit !important;
    width: 80% !important;
}

.menu-logo img{
    max-width: 65%;
    padding-top: 0.7em;
}


.color-grey{
    color: lightgrey;
}

.color-white{
    color: white;
}

.color-black{
    color: black;
}


.row-center{
    padding-left: 20% !important;
    padding-right: 20% !important;
}

.app-content-pos{
    position: fixed !important;
}

.app-content-pos-play{
    position: fixed !important;
}

.app-content-pos-audios{
    position: fixed !important;
}


.fix-section{
    background: transparent !important;
}

.fix-row{
    background-color: #516766 !important;
    border-radius: 0px !important;
    border-color: transparent !important;
    border: 2px solid #363D43 !important;

/*    margin-left: 0px !important;
    margin-right: 0px !important;*/

}

.fix-row-container{
    padding-left: 2em;
    padding-right: 2em;
}

.fix-sidebar-left{
    background: #516766 !important;
}

.fix-list-group-item{
    background: #516766 !important;
    color: lightgrey !important;
    font-size: large;
}

.fix-list-group-item.active{
    border-color: lightgrey !important;
}


.list-item-img{
    width: 80px;
    height: 80px;
    float: left;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.list-item-img img{
    width: 100%;
    height: 100%;
}

.list-item-content{
    width: 60%;
    float: left;
    padding-top: 15px;
    padding-left: 10px;
}


.list-item-button{
    width: 10%;
    float: right;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0.7em;
    top: 1em;
    right: 0.9em;    
}

.list-item-button-mis-audios{
    width: 10%;
    float: right;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0.2em;
    top: 0.2em;
    right: 0.9em;    
}


.novedades-list-item-button{
/*    width: 10%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    top: -0.2em;*/
}

.novedades-list-item-content{
    float: left;
    padding-top: 15px;
}

.izquierda{
    text-align: left;
}

.app-body-fix{

}

.fix-ui-slider{
    height: 0.3em !important;
}

.fix-ui-slider span{
    width: 1.5em !important;
    height: 1.5em !important;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    top: -.6em !important;
}

.ui-widget-header {
    border: 0.24em solid #62c6c8 !important;
    background: #62c6c8 !important;
    left: -0.12em !important;
    top: -0.1em !important;
}

.ui-widget-content{
    border: 1px solid black !important;
    background: black !important;
}


.fix-img-max-vol{
    position: absolute;
    top: -12px;
    left: 0.5em;
}

.fix-img-min-vol{
    position: absolute;
    top: -7px;
}

.fix-img-album-reproductor{
    border: 13px solid #5c808c;
    box-shadow: 1px 1px 1px black;
    min-width: 80px;
    min-height: 80px;
    width: 60% !important;
}

.fix-navbar-absolute-bottom{
    border-top-width: 0px !important; 
    background: transparent !important;
}

.fix-play-button{
    max-width: 35% !important;
}

.fix-row-play{
    margin-left: 0px !important;
    margin-right: 0px !important; 
}

.panel-heading {
    background-color: transparent !important;
}

.panel{
    color: none !important ;
    background-color: transparent !important;
}

.panel-default {
    border-color: transparent !important;
}

.logo-principal{
    vertical-align: center;
    top: 2em;
}

.scrollable-header{
    top: 5em;
}

.scrollable-content{
    top: 10em;
}

.scrollable-content .ng-scope{
    /*padding-bottom: 15px;*/
}

.x-button{
    width: 40px;
    height: 40px
}